Reading a Data Set from Excel

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

# Read data from excel file
df = pd.read_excel(r'C:\Users\Admin\Downloads\house price.xlsx')

# Create linear regression model
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(df[['area']], df.price)

#Predict a price
print(reg.predict([[3300]]))

Sheet2 Exploration

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

# Read data from excel file
df = pd.read_excel(r'C:\Users\Admin\Downloads\house price.xlsx', sheet_name="Sheet2")

x=df[["area","bedroom","age"]]
y=df["price"]

#Linear Regression Model
from sklearn.linear_model import LinearRegression
lr= LinearRegression()
lr.fit(x,y)
lr.coef_
lr.intercept_

#predict
lr.predict([[4500,2,14]])

c:\Users\Admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([788774.5044547])

Sheet3 Exploration

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

# Read data from excel file
df = pd.read_excel(r'C:\Users\Admin\Downloads\house price.xlsx', sheet_name="Sheet3")
pd.get_dummies(df[['city','status']])

    city_ahmadabad  city_vadodra  city_vapi  status_not_sell  status_sell
0                0             1          0                0            1
1                0             1          0                1            0
2                0             1          0                0            1
3                0             1          0                1            0
4                0             1          0                0            1
5                0             1          0                1            0
6                0             1          0                0            1
7                0             1          0                1            0
8                0             1          0                0            1
9                0             0          1                1            0
10               0             0          1                0            1
11               0             0          1                1            0
12               0             0          1                0            1
13               1             0          0                1            0
14               1             0          0                0            1
15               1             0          0                1            0
16               1             0          0                0            1
17               1             0          0                1            0
18               1             0          0                0            1